* {
  background-image: url('https://i.imgur.com/fVU4eL8.png');
  margin: 0;
  padding: 0;
}

div, form, header, .poke_img, .poke_search_img, button, label, input, h1, .main_img, p{
  background: white;
}

body{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 6em;
  margin-right: 6em;
  height: 100vw;
  background: white;
 }

.gen_container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  position: fixed;
  right: 0;
  left: 0;
  /* the higher the z-index the 'higher' it is on the page */
  z-index: 100;
  margin-top: 0;
  background-color: transparent;
  margin-left: 6em;
  margin-right: 6em;
}

.gen{
  height: 50px;
  font-size: 1.5em;
  flex-grow: 1;
  background-color: red;
}

.gen:hover{
  background-color: blue;
}

.gen:visited{
  background-color: blue;
}

.gen:focus{
  background-color: blue;
}

#I {
  border-radius: 0 0 0 20px;
}

#VIII{
  border-radius: 0 0 20px 0;
}

h1{
  text-align: center;
  background-color: white;
  padding-top: 75px;
}


button{
  background-color:red;
}

.poke_container{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main_img{
  border: 2px solid black;
  width: 300px;
  height: 300px;
  display: block;
  margin-top: 10px;
}

.read-more{
  width: 305px;
  height: 40px;
}

.read-more:hover{
  background-color: blue;
}

.read-more:visited{
  background-color: blue;
}

.read-more:focus{
  background-color: blue;
}

.form_container{
  background-color: white;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.poke_img{
  /* float: right; */
  width: 300px;
  height: 300px;
}

#modal {

	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modal-text {
  padding: 20px;
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	font-family: 'Arial';
}

#modal-footer {
	padding: 2%;
	line-height: 120%;
	text-align: right;
}


.modal-buttons {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}

.more-info{
  float: right;
}

@media only screen and (min-width: 768px){
  .gen{
    font-size: 1em
  }

  body{
    height: 100vh;
  }
}
