* {
  background-color: yellow;
}

div, form{
  background-color: white;
}

body{
  height: 90vw;
  border: 4px solid blue;
  background: white;
}

h1{
  text-align: center;
  background-color: white;
}

button{
  background-color:red;
}

.gen_container {
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 15vw;
}

.poke_container{
  margin: 10px;
}
