* {
  background-image: url('https://i.imgur.com/fVU4eL8.png');
  margin: 0;
  padding: 0;
}

div, form, header, .poke_img, .poke_search_img, button, label, input, h1, .main_img{
  background: white;
}

body{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 6em;
  margin-right: 6em;
  height: 100vw;
  background: white;
 }

.gen_container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  margin-top: 0;
  background-color: transparent;
  margin-left: 6em;
  margin-right: 6em;
}

.gen{
  height: 50px;
  font-size: 1.5em;
  flex-grow: 1;
}

#I {
  border-radius: 0 0 0 20px;
}

#VIII{
  border-radius: 0 0 20px 0;
}

h1{
  text-align: center;
  background-color: white;
  padding-top: 75px;
}

/* .pokemon{
  display: flex;
  flex-wrap: wrap;

} */


button{
  background-color:red;
}

.poke_container{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.read_more{
  display: inline-block;
}

.form_container{
  background-color: white;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pokemon button{
  width: 90px;
  height: 25px;
}

.poke_img{
  float: right;
  width: 300px;
  height: 300px;
}

.main_img{
  border: 2px solid black;
}

@media only screen and (min-width: 768px){
  .gen{font-size: 1em}
}
